@import "../bower_components/guff/guff";

//=========================== SETTINGS GUFF
// Set base font size
$rem-base: 16px !default;
// Set line height ratio base. Accepts px, em, rem or int values
$line-height-base: 26px !default;
// Vertical rhythm ratio
$type-rhythm-ratio: 1.14 !default;
// Desktop Media Query
$desktop: "(min-width: 1400px)";
// Set Grid Column Count
$grid-columns: 12 !default;
// Set Grid Gutter (as px)
$grid-gutter: 35px;
// Set Grid Padding (as px)
$grid-padding: 15px;
// Set Grid Max Width (as px)
$grid-max-width: 1280px;


//====================== HELPERS
@import "helpers/mixins";
//====================== BASE
@import "base/color";
@import "base/typo";
@import "base/reset";
//====================== COMPONENTS
@import "components/buttons";
@import "components/input";
@import "components/search-adress";
@import "components/article";
@import "components/animation";
//====================== LAYOUT
@import "layout/header";
@import "layout/footer";
//====================== PAGE
@import "page/home";