#page-container {
	@include col-container;
	margin:auto;
	#intro {
		background-color: white;
		@media (min-width: 768px){
			@include flexbox;
		}
		.backgroung-img-intro {
			position: relative;
			@media (min-width: 768px){
				@include col(7);
				@include inline-flex;
    			overflow: hidden;
			}
			img {
				width: 100%;
				@media (min-width: 768px){
					position: absolute;
					top: 50%;
					left: 50%;
					height: 100%;
					width: auto;
					@include transform(translateX(-50%) translateY(-50%));
				}
			}
		}
		.intro-wrap-content {
			@media (min-width: 768px){
				@include col(5);
				padding-bottom: 43px;
			}
			.title-intro-content {
				background-color: white;
				position: relative;
				margin: 0 20px;
				padding: 0 14px;
				padding-top: 10px;
				bottom: 40px; 
				margin-bottom: -40px;
				@media (min-width: 768px){
					display: inline-block;
					left: -110px;
					margin-right: -110px;
					padding: 30px;
					bottom: 0;
					margin-bottom: 0;
				}
				.sub-title {
					font-size:14px;
					color: $charcoal-grey;
					font-family: Montserrat;
					font-weight: 700;
				}
			}
			.intro-content {
				padding: 0 34px;
				padding-bottom: 34px;
				@media (min-width: 768px){
					padding: 0;
					padding-left: 30px;
				}
			}
		}
	}
	.top-articles {
		display: inline-block;
		@media (min-width: 768px){
			padding-bottom: 50px;
			@include flexbox; 
		}
		.about-us {
			padding: 30px 0;
			background-color: $light-greywhite-two;
			@media (min-width: 768px){
				@include span(5,false);
			}
			.title-about-us {
				margin-bottom: 10px;
				padding:0 30px;
			}
			.content-about-us {
				margin-bottom: 10px;
				padding:0 30px;
				p {
					padding-bottom: 10px;
				}
			}
			.link-subscribe {
				padding:0 30px;
			}
		}
	}
	.btn-see-more {
		width: 100%;
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 60px;
		@media (min-width: 768px){
			max-width: 100%;
		}
		@media (min-width: 1200px){
			width: 100%;
			max-width: none;
		}
		.wrap-more-article {
			text-align: center;
			display: none;
			@media (min-width: 768px){
				display: block;
				margin-bottom:20px;
			}
			@media (min-width: 922px){
				@include span(6,false);
			}
			@media (min-width: 1200px){
				@include span(8,false);
			}
		}
		.wrap-more-comment {
			text-align: center;
			@media (min-width: 922px){
				@include span(4,false);
			}
		}
	}
}