#page-container {
	@include col-container;
	margin:auto;
	#intro {
		background-color: white;
		.backgroung-img-intro {
			@include col(7);
			@include inline-flex;
			img {
				width: 100%;
			}
		}
		.intro-wrap-content {
			@include col(5);
			.title-intro-content {
				background-color: white;
				position: relative;
				display: inline-block;
				left: -110px;
				margin-right: -110px;
				padding: 30px;
				.sub-title {
					font-size:14px;
					color: $charcoal-grey;
					font-family: Montserrat;
					font-weight: 700;
				}
			}
			.intro-content {
				padding-left: 30px;
			}
		}
	}
	.top-articles {
		display: inline-block;
		padding-bottom: 50px;
		.about-us {
			@include span(5,false);
			padding: 30px 0;
			background-color: $light-greywhite-two;
			.title-about-us {
				margin-bottom: 10px;
				padding:0 30px;
			}
			.content-about-us {
				margin-bottom: 10px;
				padding:0 30px;
				p {
					padding-bottom: 10px;
				}
			}
			.link-subscribe {
				padding:0 30px;
			}
		}
	}
	.btn-see-more {
		width: 100%;
		display: inline-block;
		margin-top: 30px;
		margin-bottom: 60px;
		.wrap-more-article {
			@include span(8,false);
			text-align: center;
		}
		.wrap-more-comment {
			@include span(4,false);
			text-align: center;
		}
	}
}