#page-footer {
	background-color: $charcoal-grey;
	color: white;
	display: inline-block;
	width: 100%;
	.wrap-footer {
		@include container;
		margin:auto;
		.footer-menu {
			text-align: center;
			@media (min-width: 587px){
				@include span(6,false);
			}
			@media (min-width: 768px){
				@include span(4,false);
			}
			.archi-wiki-logo-white {
				max-width: 190px;
				margin-top: 30px;
				margin-bottom: 30px; 
			}
			.footer-nav {
				margin: 0;
				.item {
					padding-bottom: 15px;
					a {
						font-size: 14px;
		  				line-height: 1.43;
		  				text-decoration: none;
		  				color:$white;
					}
				}
			}
		}
		.footer-partner {
			text-align: center;
			@media (min-width: 587px){
				@include span(6,false);
			}
			@media (min-width: 768px){
				@include span(4,false);
			}
			h5 {
				font-size: 16px;
				line-height: 1.31;
				margin: 70px 0;
			}
			p {
				color: white;
				font-style: italic;
			}
		}
		.footer-social-networks {
			text-align: center;
			margin-top: 20px;
			@media (min-width: 587px){
			    display: inline-block;
			    width: 100%;
			}
			@media (min-width: 768px){
				@include span(4,false);
				margin-top: 40px;
			} 
			.link-network {
				width: 211px;
  				border: 2px solid white;
  				text-decoration:none;
  				display: block;
  				margin: auto;
  				font-size: 16px;
  				font-weight: 600;
  				color: $white;	
  				padding-top: 15px;
  				padding-bottom: 18px;
  				margin-bottom: 30px;
  				.fa {
					font-size: 25px;
					padding-right: 8px;
					top: 4px;
					position: relative;
				}
			}

		}
	}
}