/* BURGER MENU */ 

.burger-menu {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 23px;
  @media (min-width: 768px){
    width: 40px;
    height: 40px;
    margin-top: auto;
  }
}
.burger {
  position: absolute;
  background: $white;
  width: 100%;
  height: 2.5px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
  @media (min-width: 768px){
    background: $dark-grey;
    height: 5px;
  }
  &::before {
    position: absolute;
    background: $white;
    width: 20px;
    height: 2.5px;
    top: 8px;
    content: "";
    display: block;
    @media (min-width: 768px){
      background: $dark-grey;
      width: 40px;
      height: 5px;
      top: 12px;
    }
  }
  &::after {
    position: absolute;
    background: $white;
    width: 20px;
    height: 2.5px;
    bottom: 8px;
    content: "";
    display: block;
    @media (min-width: 768px){
      background: $dark-grey;
      width: 40px;
      height: 5px;
      bottom: 12px;
    }
  }
}

.burger::after, .burger::before, .burger {
  @include transition(all .3s ease-in-out);
}
.more-menu.active .burger-menu .burger{
   background: $dark-grey;
}
.more-menu.active .burger-menu .burger{
  &::after{
    @include transform(rotate(-45deg));
    bottom: 0px;
    background: white;
  }
  &::before{
    @include transform(rotate(45deg));
    top: 0px;
    background: white;
  }
}


/* ANIME MENU */ 
.navigation .content-more-menu.show {
	@include transform(translateX(0));
    visibility: visible;
}

.navigation .content-search-nav.show {
	@include transform(translateX(0));
    visibility: visible;
}
    
/* ANIM BTN */ 
.animated-button {
    position: relative;
    @include transition(all 0.4s cubic-bezier(0.42, 0, 0.58, 1));
    &::before {
	    display: block;
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    height: 100%;
	    width: 0px;
	    z-index: -1;
	    content: '';
	    color: white !important;
	    background: $black;
	    @include transition(all 0.4s cubic-bezier(0.42, 0, 0.58, 1));
    }
    &:hover {
    	color: white !important;
    	background-color: transparent;
    	&::before {
	    	left: 0%;
			right: auto;
			width: 100%;
		}
    }
}
.link-network {
	@include transition(all .3s ease-in-out);
	.fa { @include transition(all .3s ease-in-out); }
	&:hover {
		background-color:$white;
		color: $charcoal-grey !important;
		.fa { color:$charcoal-grey; }
	}
}