.more-article {
	width: 390px;
  	height: 48px;
  	border: 2px solid $black;
  	text-transform: uppercase;
}

.more-comment {
	width: 360px;
  	height: 48px;
  	border: 2px solid $black;
  	text-transform: uppercase;
}
