$black: #222a30;
$white: #fafafa;

//======= BLUE
$sea: #32a398;
$greeny-blue: #3abdaf;
$aqua-marine: #42d7c8;
$greyblue: #63b7ba;
$seafoam-blue: #70cfd3;
$tiffany-blue: #7eeaee;

//======= RED
$red: #be6152;
$dark-red: #a65447;
$dark-peach: #d96e5d;

//======= GREY
$dark-grey: #455763;
$charcoal-grey: #34414a;
$grey: #d2d2d2;
$dark-grey: #b8b8b8;
$light-greywhite-two: #ebebeb;