body {
	background-color: $white;
	margin:0;
}
ul {
	list-style: none;
	padding: 0;
}
* {
	font-size: 16px;
	font-family: OpenSans;
	outline:none;
}

h1, h2, h3, h4, h5 {
	font-family: Montserrat;
	font-weight: 700;
	margin: 0;
}

a {
	font-size: 14px;
	line-height: 24px;
	text-decoration: underline;
	color: $dark-red;
}
h1, h3 {
 @include fontTitle2;
}
h2 {
 @include fontTitle1;
}
h4 {
 @include fontTitle3;
}
p {
 @include fontP1;
 margin: 0;
}

ol{ 
	liste-style :none; 
	padding: 0;
	li {
		display :inline-block;
		&:not(:last-child) {
			&::after {
				content:'>';
				padding: 0 0 0 5px;
			}
		}
	}
}
